.mt-auto .transition-colors {
	display:none!important;
}
#headlessui-menu-item-3 {
	display:none!important;
}
#headlessui-menu-item-4 {
	display:none!important;
}
#headlessui-menu-item-5 {
	display:none!important;
}
.shadow-sm {
	display:none!important;
}
